* {
    font-family: initial;
}
h1.css_intro {
    color: green;
    text-align: center;
}
.another_class{
    color: red;
    text-align: center;
}
h2.css_intro{
    background-color: aqua;
}
.highlighted{
    color: green;
}

.parent .child{
    color: red;
    background-color: blanchedalmond;
    border: 4px dashed violet;
    font-size: 28px;
    width: 200;
    height: 400;
    font font-weight: bold;

}
.child{
    background-color: aqua;
}
body{
    background-color: hwb(60 0% 0%);
}
.highlighted{
    background-color: red;
}